<div class="row">
    <div class="column">
        <img src="../../assets/2019-06-02-16-08-36-155.jpg" alt="1st pic" width="250" height="250">
        <img src="../../assets/2019-07-06-08-34-23-570.jpg" alt="2nd pic" width="250" height="250">
        <img src="../../assets/2019-09-22-19-55-31-071.jpg" alt="3rd pic" width="250" height="250">
        <img src="../../assets/2019-09-22-19-56-17-626.jpg" alt="4th pic" width="250" height="250">
        <img src="../../assets/B612_20190811_203402_338.jpg" alt="5th pic" width="250" height="250">
    </div>
    <div class="column">
        <img src="../../assets/WhatsApp Image 2020-04-21 at 1.02.17 PM.jpeg" alt="6th pic" width="250" height="250">
        <img src="../../assets/IMG_20200418_065921_451.jpg" alt="7th pic" width="250" height="250">
        <img src="../../assets/IMG_20191207_173853.jpg" alt="8th pic" width="250" height="250">
        <img src="../../assets/IMG_20190723_200316.jpg" alt="9th pic" width="250" height="250">
        <img src="../../assets/IMG_20190601_173037.jpg" alt="10th pic" width="250" height="250">

    </div>
</div>